/* ==========================================================================
 *  File tree general styling.
 * ========================================================================== */

.file-tree-container {
  position: relative;
  min-width: var(--file-tree-width);
  max-width: var(--file-tree-width);
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  flex-direction: column;
}

.file-tree {
  overflow-y: auto;
}

.file-tree-container .info-msg {
  padding: var(--file-tree-padding);
}

.file-dropzone {
  flex-grow: 1;
  display: flex;
}

.file-dropzone.drag-over {
  padding: var(--file-tree-padding);
}

.file-dropzone.drag-over:before {
  content: 'Drop files or folders here to upload';
  text-align: center;
  border: 2px dashed var(--border-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tab-fg-color);
}

.file-tree-container .title-container {
  padding: var(--file-tree-padding);
  display: flex;
  align-items: center;
}

.file-tree-container .title {
  font-size: 14px;
  flex-grow: 1;
  color: var(--tab-fg-color);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.file-tree-container button {
  background: none;
  border: 0;
  display: block;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center 50%;
  margin: 0 5px 0 10px;
  position: relative;
  opacity: 0.4;
}

.file-tree-container button:hover {
  opacity: 1;
  cursor: pointer;
}

.file-tree-container button:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -5px;
  border: 1px solid var(--color-black);
  background: var(--color-white);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.file-tree-container button:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  display: block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center 50%;
  background-image: url('../../../img/icons/plus.png');
}

.file-tree-container .add-file-btn {
  background-image: url('../../../img/icons/file.png');
}

.file-tree-container .add-folder-btn {
  background-image: url('../../../img/icons/folder.png');
}

.fancytree-container {
  outline: 0;
  list-style: none;
  margin: 0;
  padding: 0 var(--file-tree-padding);
}

.fancytree-container ul {
  list-style: none;
  margin: 0;
  padding-left: var(--file-tree-indent);
}

.fancytree-node {
  display: inline-flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: var(--border-radius);
}

.fancytree-node:not(.fancytree-drop-accept):not(.fancytree-drop-reject):not(.fancytree-statusnode-nodata):hover {
  background-color: var(--tab-bg-color);
  cursor: pointer;
}

.fancytree-icon {
  pointer-events: none;
}

.fancytree-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.file-tree-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center 50%;
  margin-right: 5px;
  position: relative;
}

.file-tree-file-icon {
  background-image: url('../../../img/icons/file.png');
}

.file-tree-folder-icon {
  background-image: url('../../../img/icons/folder.png');
}

.fancytree-folder > .fancytree-expander {
  pointer-events: none;
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center 50%;
  margin-right: 5px;
}

/* Indent folder content */
.fancytree-container > li > ul {
  padding-left: 40px;
}

/* Unindent folders so the caret sticks out a little (to the left) */
.file-tree ul ul .fancytree-folder {
  margin-left: -17px;
}

.fancytree-expanded > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-down.png');
}

.fancytree-node:not(.fancytree-expanded) > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-right.png');
}

/* Empty folders are always shown with a downward-pointing caret */
.fancytree-folder:not(.fancytree-has-children) > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-down.png');
}

.fancytree-node input {
  outline: 0;
  border: 1px dotted var(--color-black);
  width: 100%;
  font: inherit;
}

/* ==========================================================================
 *  Context menu when right-clicking a node.
 * ========================================================================== */

.context-menu-list {
  width: auto !important;
  min-width: auto;
  max-width: auto;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.context-menu-item {
  display: block;
  padding: 5px 10px;
}

.context-menu-item:hover {
  color: var(--color-black);
  background-color: var(--tab-bg-color);
  cursor: pointer;
  outline: 0;
}

/* ==========================================================================
 *  Drag and drop.
 * ========================================================================== */

/* Vertical bar that indicates the drop area */
.drop-area-indicator {
  position: relative;
}

.drop-area-indicator[aria-expanded="true"]::before,
.file-tree.drop-area-indicator::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: var(--color-black);
}

.file-tree.drop-area-indicator::before {
  top: 0;
  left: 5px;
}

.fancytree-drop-reject {
  color: red;
}

/* The item that is dragged under the cursor */
.custom-drag-helper {
  position: absolute;
  display: inline-block;
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

/* ==========================================================================
 *  Local storage warning
 * ========================================================================== */
.local-storage-warning {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--file-tree-width);
  padding: var(--file-tree-padding);
  border-top: 1px solid var(--border-color);
  background-color: #fffdbe;
  color: var(--color-black);
}

.local-storage-warning .warning-icon {
  height: 24px;
  margin-right: 4px;
}

.local-storage-warning .warning-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.local-storage-warning p {
  font-size: 12px;
}

.localstorage-mode {
  padding-bottom: 130px;
}

/* ==========================================================================
 *  Bottom messages at the file tree.
 * ========================================================================== */
.file-tree-container.has-bottom-msg  {
  padding-bottom: 40px;
}

.file-tree-bottom-msg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: var(--file-tree-width);
  padding: var(--file-tree-padding);
  border-top: 1px solid var(--border-color);
  background-color: var(--color-white);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-tree-bottom-msg p {
  margin: 0;
  font-size: 12px;
}

/* ========================================================================== */
/* Dark Mode                                                                  */
/* ========================================================================== */
.dark-mode .file-tree-container .title {
  color: #6b7280;
}

.dark-mode .fancytree-node:not(.fancytree-drop-accept):not(.fancytree-drop-reject):not(.fancytree-statusnode-nodata):hover {
  background-color: var(--dark-mode-bg-lighter);
}

.dark-mode .file-tree-file-icon {
  background-image: url('../../../img/icons/file-white.png');
}

.dark-mode .file-tree-folder-icon {
  background-image: url('../../../img/icons/folder-white.png');
}

.dark-mode .fancytree-expanded > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-down-white.png');
}

.dark-mode .fancytree-node:not(.fancytree-expanded) > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-right-white.png');
}

.dark-mode .drop-area-indicator[aria-expanded="true"]::before,
.dark-mode .file-tree.drop-area-indicator::before {
  background: var(--dark-mode-fg);
}

.dark-mode .file-tree-container .add-file-btn {
  background-image: url('../../../img/icons/file-white.png');
}

.dark-mode .file-tree-container .add-folder-btn {
  background-image: url('../../../img/icons/folder-white.png');
}

.dark-mode .local-storage-warning {
  border-top: 1px solid var(--dark-mode-border-color);
}

.dark-mode .file-dropzone.drag-over:before {
  border-color: var(--dark-mode-fg);
  color: var(--dark-mode-fg);
}

.dark-mode .context-menu-list {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-color: var(--dark-mode-overlay-bg-color);
  border-color: var(--dark-mode-border-color);
}

.dark-mode .context-menu-item {
  background-color: var(--dark-mode-overlay-bg-color);
  color: var(--dark-mode-overlay-fg-color);
}

.dark-mode .context-menu-item:hover {
  color: var(--dark-mode-active-tab-fg-color);
  background-color: var(--dark-mode-active-tab-bg-color);
}

.dark-mode .custom-drag-helper {
  background-color: var(--dark-mode-bg-lighter);
  border-color: var(--dark-mode-border-color);
}
