/* ==========================================================================
 *  File tree general styling.
 * ========================================================================== */

.file-tree-container {
  position: relative;
  min-width: var(--file-tree-width);
  max-width: var(--file-tree-width);
  overflow: auto;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.file-tree-container .info-msg {
  padding: var(--file-tree-padding);
}

.file-tree-container .title-container {
  padding: var(--file-tree-padding);
  display: flex;
  align-items: center;
}

.file-tree-container .title {
  font-size: 14px;
  flex-grow: 1;
  color: var(--tab-fg-color);
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.file-tree-container button {
  background: none;
  border: 0;
  display: block;
  max-width: 20px;
  max-height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center 50%;
  margin: 0 5px 0 10px;
  position: relative;
  opacity: 0.4;
}

.file-tree-container button:hover {
  opacity: 1;
  cursor: pointer;
}

.file-tree-container button:before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: -5px;
  border: 1px solid var(--color-black);
  background: var(--color-white);
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.file-tree-container button:after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: -2px;
  display: block;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center 50%;
  background-image: url('../../../img/icons/plus.png');
}

.file-tree-container .add-file-btn {
  background-image: url('../../../img/icons/file.png');
}

.file-tree-container .add-folder-btn {
  background-image: url('../../../img/icons/folder.png');
}

.fancytree-container {
  outline: 0;
  height: 100%;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0 var(--file-tree-padding);
}

.fancytree-container ul {
  list-style: none;
  margin: 0;
  padding-left: var(--file-tree-indent);
}

.fancytree-node {
  display: inline-flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: var(--border-radius);
}

.fancytree-node:not(.fancytree-drop-accept):not(.fancytree-drop-reject):not(.fancytree-statusnode-nodata):hover {
  background-color: var(--tab-menu--tab-bg-color);
  cursor: pointer;
}

.fancytree-icon {
  pointer-events: none;
}

.fancytree-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 300px;
}

.file-tree-file-icon {
  background-image: url('../../../img/icons/file.png');
}

.file-tree-folder-icon {
  background-image: url('../../../img/icons/folder.png');
}

.file-tree-icon {
  display: block;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center 50%;
  margin-right: 5px;
  position: relative;
}

.fancytree-folder.fancytree-has-children > .fancytree-expander {
  pointer-events: none;
  display: block;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: center 50%;
  margin-right: 5px;
}

.fancytree-expanded > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-down.png');
}

.fancytree-node:not(.fancytree-expanded) > .fancytree-expander {
  background-image: url('../../../img/icons/arrow-head-right.png');
}

.fancytree-node input {
  outline: 0;
  border: 1px dotted var(--color-black);
  width: 100%;
  font: inherit;
}

/* ==========================================================================
 *  Context menu when right-clicking a node.
 * ========================================================================== */

.context-menu-list {
  width: auto !important;
  min-width: auto;
  max-width: auto;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
}

.context-menu-item {
  display: block;
  padding: 5px 10px;
}

.context-menu-item:hover {
  color: var(--color-black);
  background-color: var(--tab-menu--tab-bg-color);
  cursor: pointer;
  outline: 0;
}

/* ==========================================================================
 *  Git diff indicators.
 * ========================================================================== */

.git-added > .fancytree-title {
  color: #33b91f;
}

.git-modified > .fancytree-title {
  color: #ffa500;
}

/* ==========================================================================
 *  Drag and drop.
 * ========================================================================== */

/* Vertical bar that indicates the drop area */
.drop-area-indicator {
  position: relative;
}

.drop-area-indicator[aria-expanded="true"]::before,
.file-tree.drop-area-indicator::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: var(--color-black);
}

.file-tree.drop-area-indicator::before {
  top: 0;
  left: 5px;
}

.fancytree-drop-reject {
  color: red;
}

/* The item that is dragged under the cursor */
.custom-drag-helper {
  display: inline-block;
  background-color: var(--color-white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

/* ==========================================================================
 *  Local storage warning
 * ========================================================================== */
.local-storage-warning {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--file-tree-padding);
  border-top: 1px solid var(--border-color);
  background-color: #ffffeb;
}

.local-storage-warning .warning-icon {
  height: 24px;
  margin-right: 4px;
}

.local-storage-warning .warning-title {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.local-storage-warning p {
  font-size: 12px;
}

.localstorage-mode {
  padding-bottom: 130px;
}
