:root {
  --font-size: 18px;
  --navbar-padding: 10px;
  --editor-tab-font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-container,
.layout-outer-container {
  width: 100%;
  height: 100%;
}

.layout-outer-container {
  position: relative;
}

.hidden {
  display: none !important;
}

.font-size {
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 3;
}

.font-size select {
  -webkit-appearance: none;
  border: 1px solid #999;
  background: none;
  border-radius: 4px;
  padding: 3px 18px 3px 5px;
}

.button:active,
.font-size select:active {
  background: #ccc;
}

.font-size:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 4px solid rgba(255, 255, 255, 0);
  border-right: 4px solid rgba(255, 255, 255, 0);
  border-top: 5px solid #000;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.button {
  -webkit-appearance: none;
  padding: 3px 5px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #000;
}

.run-code-btn {
  background: #62c0ff;
}

.run-code-btn:active {
  background: #5dabdf;
}

.run-code-btn[disabled] {
  background: #cfcfcf;
  color: #606060;
}

.clear-term-btn {
  background: #f75a4a;
}

.clear-term-btn:active {
  background: #e64a3a;
}

.lm_controls button + button {
  margin-left: 5px;
}

.terminal-component-container .lm_tabs {
  display: none;
}

.terminal {
  padding: 10px;
}

.editor-component-container .lm_header {
  padding-left: 5px;
}

/* ========================================================================== */
/* NAV                                                                        */
/* ========================================================================== */
.navbar {
  position: relative;
  padding: var(--navbar-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(132, 250, 176, 0.99) 95%, rgba(143, 211, 244, 0.99) 100%);
  color: #006b4b;
}

.navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navbar-right li {
  padding: var(--navbar-padding);
  text-align: center;
}

.navbar-right span {
  display: block;
}

.page-title {
  margin: 0;
  font-weight: normal;
}

/* ========================================================================== */
/* GoldenLayout overrides                                                     */
/* ========================================================================== */
.lm_header .lm_tab {
  font-size: inherit;
  font-family: inherit;
}

.lm_header {
  display: flex;
  align-items: center
}

.lm_header .lm_tabs {
  height: 100%;
}

.lm_content,
.lm_header .lm_tab {
  border-color: #999;
}

.lm_header .lm_tab {
  padding: 0 10px 5px;
  height: calc(100% - 1px);
  margin-right: 5px;
  margin-top: 2px;
}

.lm_tab:hover, .lm_tab.lm_active {
  background: #cfcfcf;
}

.lm_header .lm_tab.lm_active {
  box-shadow: none;
  color: #000;
}

.lm_header [class^="lm_"] {
  box-sizing: inherit !important;
}

.lm_splitter {
  opacity: 1;
  background: #fff;
  transition: background 200ms ease;
}

.lm_splitter:hover {
  background: #999;
}

.lm_splitter.lm_horizontal:before,
.lm_splitter.lm_horizontal:after {
  content: '';
  width: 2px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b1b1b1;
  pointer-events: none;
  transition: opacity 200ms ease;
  opacity: 1;
}

.lm_splitter:hover:before,
.lm_splitter:hover:after {
  opacity: 0;
}

.lm_splitter.lm_horizontal:before {
  left: 2px;
}

.lm_splitter.lm_horizontal:after {
  right: 2px;
}
