@import 'include/base.css';
@import 'include/form.css';
@import 'include/button.css';
@import 'include/settings-dropdown.css';
@import 'include/goldenlayout.css';
@import 'include/term.css';
@import 'include/editor.css';

/* iframe-specific overwrites */

.terra-embed .lm_splitter {
  display: none;
}

.terra-embed .terminal-component-container .lm_content {
  border: 0;
}

.terra-embed.vertical .editor-component-container .lm_content {
  border-width: 1px 0 0;
}

.terra-embed.horizontal .editor-component-container .lm_content {
  border-width: 1px 1px 0 0;
}

.terra-embed .lm_controls {
  margin-top: -2px;
}

.terra-embed {
  background: var(--color-white);
  border: 1px solid var(--border-color);
  padding: 2px 0 0;
}
