:root {
  --font-size: 16px;
  --navbar-padding: 10px;
  --editor-tab-font-size: 12px;
  --modal-padding: 20px;
  --tab-fg-color: #737373;
  --tab-bg-color: #e1e1e1;
  --active-tab-fg-color: #000;
  --active-tab-bg-color: #fff;
  --border-color: #999;
  --dark-mode-active-tab-fg-color: #dcdfe4;
  --dark-mode-active-tab-bg-color: #282c34;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Prevents the layout from breaking on small screens */
  min-width: 768px;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow-x: auto;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-container,
.layout-outer-container {
  width: 100%;
  height: 100%;
}

.layout-outer-container {
  position: relative;
}

.hidden {
  display: none !important;
}

.font-size-control {
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 3;
}

.select {
  -webkit-appearance: none;
  border: 1px solid var(--border-color);
  background-color: #fff;
  background-image: url('../img/icons/caret-down.png');
  background-size: 10px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 3px 18px 3px 5px;
}

.button:active,
.select:active {
  background: #ccc;
}

.button:hover {
  cursor: pointer;
}

.button[disabled] {
  background: #cfcfcf;
  color: #606060;
  cursor: not-allowed;
  border-color: #606060;
}

.button {
  -webkit-appearance: none;
  padding: 3px 5px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #000;
}

.run-code-btn {
  background: #62c0ff;
}

.run-code-btn:not([disabled]):active {
  background: #5dabdf;
}

.clear-term-btn {
  background: #f9776a;

  /*
  This margin is solely added for when the app locks, fixing the issue that the
  button isn't cut-off.
  */
  margin-left: 1px;
}

.clear-term-btn:not([disabled]):active {
  background: #e64a3a;
}

.terminal-component-container .lm_header button + button {
  margin-left: 5px;
}

.terminal-component-container .lm_tabs {
  display: none;
}

.terminal {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.editor-component-container .lm_header {
  padding-left: 5px;
}

.component-container.locked {
  position: relative;
  pointer-events: none;
}

.component-container.locked:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  background-image: url('../img/icons/lock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  -webkit-backdrop-filter: blur(1px) grayscale(40%);
  backdrop-filter: blur(1px) grayscale(40%);
}

/* ========================================================================== */
/* NAV                                                                        */
/* ========================================================================== */
.navbar {
  position: relative;
  padding: var(--navbar-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(132, 250, 176, 0.99) 95%, rgba(143, 211, 244, 0.99) 100%);
  color: #006b4b;
}

.navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar-right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-right li {
  padding: 0 10px;
  user-select: none;
}

.navbar-right li:hover {
  cursor: pointer;
}

.msg-container {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.error {
  font-weight: bold;
  color: #d34d4d;
}

.page-title {
  user-select: none;
  margin: 0;
  font-weight: normal;
  font-size: 28px;
}

.exam-name {
  font-size: 20px;
}

.editor {
  width: 100%;
  height: 100%;
}

/* hide 80-th column indicator */
.ace_print-margin {
  display: none !important;
}

/* ========================================================================== */
/* Setting dropdown                                                           */
/* ========================================================================== */
.settings-menu {
  user-select: none;
}

.settings-btn {
  width: 24px;
  height: 24px;
  background: url('../img/icons/cog.png') no-repeat center;
  background-size: 14px;
  position: relative;
  border: 0;
  opacity: 0.5;
  pointer-events: none;
}

.settings-menu.open > .settings-dropdown {
  display: block;
}

.settings-menu:hover .settings-btn {
  opacity: 1;
}

.settings-menu:hover {
  cursor: pointer;
}

.settings-dropdown {
  position: absolute;
  background: #fff;
  display: none;
  right: 0;
  border: 1px solid var(--border-color);
}

.settings-dropdown li.has-dropdown {
  padding-left: 25px;
  background-size: 10px;
}

.settings-dropdown li.has-dropdown:before {
  content: '';
  position: absolute;
  left: 8px;
  width: 10px;
  height: 10px;
  background: url('../img/icons/arrow-head-left.png') no-repeat center center;
  background-size: contain;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.6;
}

.settings-dropdown > li > .settings-dropdown {
  top: 0;
  right: 100%;
}

.settings-dropdown li {
  position: relative;
  padding: 6px 10px;
  white-space: nowrap;
  color: var(--tab-fg-color);
}

.settings-dropdown li:hover {
  background-color: #ddd;
  color: #000;
  cursor: pointer;
}

.settings-dropdown li:hover:before {
  opacity: 1;
}

.settings-dropdown li.active {
  color: #000;
  font-weight: bold;
}

.settings-dropdown > li:hover > .settings-dropdown {
  display: block;
}


/* ========================================================================== */
/* GoldenLayout overrides                                                     */
/* ========================================================================== */
.lm_goldenlayout {
  background: #fff;
}

.lm_goldenlayout,
.lm_goldenlayout > div {
  min-width: 100% !important;
}

.lm_header .lm_tab {
  font-size: inherit;
  font-family: inherit;
  user-select: none;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 2px 10px 5px;
  height: calc(100% - 1px);
  margin-right: 5px;
  margin-top: 2px;
  color: var(--tab-fg-color);
  background-color: var(--tab-bg-color);
}

.lm_header {
  display: flex;
  align-items: center
}

.lm_header .lm_tabs {
  height: 100%;
}

.lm_content,
.lm_header .lm_tab {
  border-color: var(--border-color);
}

.lm_tab:hover,
.lm_tab.lm_active {
  background: var(--active-tab-bg-color);
  color: var(--active-tab-fg-color);
}

.lm_header .lm_tab.lm_active {
  box-shadow: none;
}

.lm_header [class^="lm_"] {
  box-sizing: inherit !important;
}

.lm_splitter {
  opacity: 1;
  background: #fff;
  transition: background 200ms ease;
}

.lm_splitter:hover {
  background: #999;
}

.lm_splitter.locked {
  pointer-events: none;
}

.lm_splitter.locked:hover {
  background: #fff;
}

/* Create two vertical bars as a drag-handler icon */
.lm_splitter.lm_horizontal:not(.locked):before,
.lm_splitter.lm_horizontal:not(.locked):after {
  content: '';
  width: 2px;
  height: 31px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b1b1b1;
  pointer-events: none;
  transition: opacity 200ms ease;
  opacity: 1;
}

.lm_splitter.lm_horizontal:before {
  left: 2px;
}

.lm_splitter.lm_horizontal:after {
  right: 2px;
}

.lm_splitter:not(.locked):hover:before,
.lm_splitter:not(.locked):hover:after {
  opacity: 0;
}

.lm_content {
  background: inherit;
}

.lm_header .lm_tabdropdown_list {
  top: 30px;
}

.lm_header .lm_tabdropdown_list .lm_tab {
  border-radius: 0;
  border: 1px solid var(--border-color);
  background: #fff;
  padding-bottom: 3px;
}

.lm_header .lm_tabdropdown_list .lm_tab + .lm_tab {
  margin-top: -1px;
}

/* dark mode overrides */
.dark-mode .lm_tab.lm_active {
  background-color: var(--dark-mode-active-tab-bg-color);
  color: var(--dark-mode-active-tab-fg-color);
}

/* cursor line */
.dark-mode .ace_gutter-active-line,
.dark-mode .ace_marker-layer .ace_active-line {
  background-color: #383c44;
  border: 0;
}

/* ========================================================================== */
/* xterm.js overrides                                                         */
/* ========================================================================== */
.xterm .xterm-helper-textarea {
  visibility: hidden !important;
}

/* ========================================================================== */
/* Custom spinner                                                             */
/* ========================================================================== */
.spinner {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================================================================== */
/* Custom modal (because bootstrap is too overkill)                           */
/* ========================================================================== */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-20px);
  transition-timing-function: ease;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  opacity: 0;
  pointer-events: none;
}

.modal.show {
  transform: translateY(0px);
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  max-width: 100%;
  width: 750px;
  min-width: 400px;
  background-color: #fff;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show .modal-content {
  opacity: 1;
}

.modal-header {
  border-bottom: 1px solid #eee;
  padding: var(--modal-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header p {
  margin: 0;
}

.modal-body p:first-child {
  margin-top: 0;
}

.modal-body p:last-child {
  margin-bottom: 0;
}

.modal-body {
  padding: var(--modal-padding);
}

.modal-title {
  font-weight: bold;
}

.modal-footer {
  padding: var(--modal-padding);
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
}

.modal-footer .button {
  padding: 10px 12px;
}

.modal-body .spinner {
  margin: 0 auto;
}

/* ========================================================================== */
/* Media queries                                                              */
/* ========================================================================== */
@media (max-width: 1200px) {
  .page-title {
    font-size: 24px;
  }

  .exam-name {
    font-size: 16px;
  }
}
