:root {
  --font-size: 18px;
  --navbar-padding: 10px;
  --editor-tab-font-size: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-container,
.layout-outer-container {
  width: 100%;
  height: 100%;
}

.layout-outer-container {
  position: relative;
}

.hidden {
  display: none !important;
}

.font-size-control {
  font-size: 14px;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 3;
}

.select {
  -webkit-appearance: none;
  border: 1px solid #999;
  background-color: #fff;
  background-image: url('../img/icons/caret-down.png');
  background-size: 10px;
  background-position: calc(100% - 5px) center;
  background-repeat: no-repeat;
  border-radius: 4px;
  padding: 3px 18px 3px 5px;
}

.button:active,
.select:active {
  background: #ccc;
}

.button[disabled] {
  background: #cfcfcf;
  color: #606060;
  cursor: not-allowed;
  border-color: #606060;
}

.button {
  -webkit-appearance: none;
  padding: 3px 5px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #000;
}

.run-code-btn {
  background: #62c0ff;
}

.run-code-btn:not([disabled]):active {
  background: #5dabdf;
}

.clear-term-btn {
  background: #f9776a;

  /*
  This margin is solely added for when the app locks, fixing the issue that the
  button isn't cut-off.
  */
  margin-left: 1px;
}

.clear-term-btn:not([disabled]):active {
  background: #e64a3a;
}

.lm_header .lm_controls {
  /*
  This margin is solely added for when the app locks, fixing the issue that the
  button isn't cut-off.
  */
  margin-right: 1px;
  right: 0;
}

.lm_controls * + * {
  margin-left: 5px;
}

.terminal-component-container .lm_tabs {
  display: none;
}

.terminal {
  padding: 10px;
  height: 100%;
  width: 100%;
}

.editor-component-container .lm_header {
  padding-left: 5px;
}

.component-container.locked {
  position: relative;
  pointer-events: none;
}

.component-container.locked:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  background-image: url('../img/icons/lock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  -webkit-backdrop-filter: blur(1px) grayscale(40%);
  backdrop-filter: blur(1px) grayscale(40%);
}

/* ========================================================================== */
/* NAV                                                                        */
/* ========================================================================== */
.navbar {
  position: relative;
  padding: var(--navbar-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(180deg, rgba(132, 250, 176, 0.99) 95%, rgba(143, 211, 244, 0.99) 100%);
  color: #006b4b;
}

.navbar-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.msg-container {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
}

.msg-container.error {
  font-weight: bold;
  color: #d34d4d;
}

.page-title {
  user-select: none;
  margin: 0;
  font-weight: normal;
}

.editor {
  width: 100%;
  height: 100%;
}

/* hide 80-th column indicator */
.ace_print-margin {
  display: none !important;
}

/* ========================================================================== */
/* GoldenLayout overrides                                                     */
/* ========================================================================== */
.lm_goldenlayout {
  background: #fff;
}

.lm_header .lm_tab {
  font-size: inherit;
  font-family: inherit;
  background-color: #e1e1e1;
  user-select: none;
}

.lm_header {
  display: flex;
  align-items: center
}

.lm_header .lm_tabs {
  height: 100%;
}

.lm_content,
.lm_header .lm_tab {
  border-color: #999;
}

.lm_header .lm_tab {
  padding: 0 10px 5px;
  height: calc(100% - 1px);
  margin-right: 5px;
  margin-top: 2px;
}

.lm_tab:hover, .lm_tab.lm_active {
  background: #fff;
}

.lm_header .lm_tab.lm_active {
  box-shadow: none;
  color: #000;
}

.lm_header [class^="lm_"] {
  box-sizing: inherit !important;
}

.lm_splitter {
  opacity: 1;
  background: #fff;
  transition: background 200ms ease;
}

.lm_splitter:hover {
  background: #999;
}

.lm_splitter.locked {
  pointer-events: none;
}

.lm_splitter.locked:hover {
  background: #fff;
}

/* Create two vertical bars as a drag-handler icon */
.lm_splitter.lm_horizontal:not(.locked):before,
.lm_splitter.lm_horizontal:not(.locked):after {
  content: '';
  width: 2px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #b1b1b1;
  pointer-events: none;
  transition: opacity 200ms ease;
  opacity: 1;
}

.lm_splitter.lm_horizontal:before {
  left: 2px;
}

.lm_splitter.lm_horizontal:after {
  right: 2px;
}

.lm_splitter:not(.locked):hover:before,
.lm_splitter:not(.locked):hover:after {
  opacity: 0;
}

.lm_content {
  background: inherit;
}

/* dark-mode enabled */
.dark-mode .lm_content,
.dark-mode .lm_header .lm_tab {
  border-color: #8e96a9;
}

.dark-mode .lm_header .lm_tab {
  background-color: #282c34;
  color: #8e96a9;
}

.dark-mode .lm_tab:hover {
  background: #41454D;
}

.dark-mode .lm_tab.lm_active {
  background: #fff;
}

.dark-mode .ace_gutter-active-line,
.dark-mode .ace_marker-layer .ace_active-line {
  background-color: #383c44;
  border: 0;
}

.lm_header .lm_tab.lm_active {
  box-shadow: none;
  color: #000;
}

/* ========================================================================== */
/* xterm.js overrides                                                         */
/* ========================================================================== */
.xterm .xterm-helper-textarea {
  visibility: hidden !important;
}
