:root {
  --color-white: #fff;
  --color-black: #000;
  --color-error: #f9776a;
  --color-error-hover: #e64a3a;
  --font-size: 16px;
  --navbar-padding: 10px;
  --editor-tab-font-size: 12px;
  --modal-padding: 20px;
  --tab-fg-color: #737373;
  --tab-bg-color: #e1e1e1;
  --active-tab-fg-color: #000;
  --active-tab-bg-color: #fff;
  --border-color: #c6c6c6;
  --border-radius: 4px;
  --tab-menu--tab-bg-color: #ddd;
  --dark-mode-active-tab-fg-color: #dcdfe4;
  --dark-mode-active-tab-bg-color: #282c34;

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Prevents the layout from breaking on small screens */
  min-width: 768px;
}

html {
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  margin: 0;
  font-size: var(--font-size);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-container,
.layout-outer-container {
  width: 100%;
  height: 100%;
}

.layout-outer-container {
  display: flex;
  position: relative;
}

.hidden {
  display: none !important;
}

.error {
  font-weight: bold;
  color: #d34d4d;
}

.component-container.locked {
  position: relative;
  pointer-events: none;
}

.component-container.locked:before {
  content: '';
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
  background-image: url('../../img/icons/lock.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px;
  -webkit-backdrop-filter: blur(1px) grayscale(40%);
  backdrop-filter: blur(1px) grayscale(40%);
}

.text-input,
.select {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 4px 5px;
  font: inherit;
}

.select:focus,
.text-input:focus {
  outline: 0;
  border-color: var(--color-black);
}

.form-wrapper {
  display: flex;
}

.form-wrapper + .form-wrapper {
  margin-top: 10px;
}

.form-wrapper input,
.form-wrapper select {
  width: 100%;
}

.form-wrapper label,
.form-wrapper .right-container {
  width: 50%;
}


.form-wrapper label {
  white-space: nowrap;
}
