.button {
  -webkit-appearance: none;
  appearance: none;
  padding: 3px 5px;
  background: var(--color-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-black);
}

.button + .button {
  margin-left: 5px;
}

.button:active {
  background: #ccc;
}

.button:hover {
  cursor: pointer;
}

.button[disabled] {
  background: #cfcfcf;
  color: #606060;
  cursor: not-allowed;
  border-color: #606060;
}

.primary-btn {
  background: #62c0ff;
}

/* loading spinner */
.primary-btn.loading:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #606060;
  border-right-color: transparent;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  animation: spin 1s linear infinite;
}

.primary-btn:not([disabled]):active {
  background: #5dabdf;
}

.danger-btn {
  background: var(--color-error);
}

.danger-btn:active {
  background: var(--color-error-hover);
}

.clear-term-btn img {
  pointer-events: none;
  width: 15px;
  height: 16px;
  opacity: 0.65;
}

.clear-term-btn:hover img,
.clear-term-btn:focus img {
  opacity: 1;
}
