.editor {
  width: 100%;
  height: 100%;
}

.editor-component-container .lm_header {
  padding-left: 5px;
}

/* The docText popup menu when selecting a suggestion */
.ace_doc-tooltip {
  background: #fff;
  border: 1px solid var(--border-color);
}

/* The autocomplete suggestion menu */
.ace_editor.ace_autocomplete {
  border: 1px solid var(--border-color);
}

.dark-mode .ace_doc-tooltip,
.ace-cloud_editor_dark.ace_dark.ace_editor.ace_autocomplete {
  color: var(--color-white);
  background: #111;
  border: 1px solid #464a4f;
}

.ace-cloud_editor_dark.ace_dark.ace_editor.ace_autocomplete {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

.ace-cloud_editor_dark.ace_dark.ace_editor.ace_autocomplete .ace_marker-layer .ace_active-line {
  border: 0;
}

/* Exceeded filesize popup */

.editor.exceeded-filesize:after  {
  padding-left: 50px;
  content: 'This file exceeds the maximum file size';
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.editor.exceeded-filesize .ace_cursor {
  display: none !important;
}
