textarea {
  min-height: 100px;
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
}

.text-input,
.select {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: 4px 5px;
  font: inherit;
}

.select:focus,
.text-input:focus {
  outline: 0;
  border-color: var(--color-black);
}

.full-width-input {
  width: 100%;
}

.form-wrapper {
  display: flex;
}

.form-wrapper-full-width + .form-wrapper-full-width,
.form-wrapper + .form-wrapper {
  margin-top: 12px;
}

.form-wrapper, input + p.text-small,
.form-wrapper-full-width input + p.text-small {
  margin-top: 6px;
}

.form-wrapper input,
.form-wrapper select {
  width: 100%;
}

.form-wrapper label,
.form-wrapper .right-container {
  width: 50%;
}


.form-wrapper label {
  white-space: nowrap;
}

.form-wrapper-full-width input[type="text"],
.form-wrapper-full-width input[type="password"] {
  width: 100%;
}

.form-wrapper-full-width label {
  display: block;
  margin-bottom: 4px;
}

/* ========================================================================== */
/* Dark Mode                                                                  */
/* ========================================================================== */
.dark-mode .text-input,
.dark-mode .select {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-fg);
  border-color: var(--dark-mode-border-color);
}
