/* ========================================================================== */
/* Custom modal (because bootstrap is too overkill)                           */
/* ========================================================================== */
dialog.modal {
  max-width: 100%;
  width: 750px;
  min-width: 400px;
  margin: auto;
  max-height: calc(100vh - 40px);
  border: none;
  padding: 0;
  background-color: var(--ide-panel-bg);
  border-radius: var(--border-radius);
  flex-direction: column;
  display: none;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.35);
}

dialog.modal[open] {
  display: flex;
}

.modal-header {
  border-bottom: 1px solid var(--ide-tint-border);
  padding: var(--modal-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-header p {
  margin: 0;
}

.modal-body p:first-child {
  margin-top: 0;
}

.modal-body p:last-child {
  margin-bottom: 0;
}

.modal-body {
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--modal-padding);
}

.modal-title {
  font-weight: bold;
}

.modal-footer {
  padding: var(--modal-padding);
  border-top: 1px solid var(--ide-tint-border);
  display: flex;
  justify-content: space-between;
}

.modal-footer .button {
  padding: 10px 12px;
}

.modal-body .spinner {
  margin: 0 auto;
}

.modal-width-small.modal {
  width: 400px;
}

.modal-width-medium.modal {
  width: 550px;
}

/* ========================================================================== */
/* Dark Mode                                                                  */
/* ========================================================================== */
.dark-mode dialog.modal {
  background: var(--dark-mode-bg);
  color: var(--dark-mode-fg);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

.dark-mode .modal-header,
.dark-mode .modal-footer {
  border-color: var(--dark-mode-border-color);
}
