.tippy-box[data-theme="error"] {
  background-color: var(--color-error);
  color: var(--color-black);
}

.tippy-box[data-theme="error"] .tippy-arrow {
  color: var(--color-error);
}

[data-tippy-root] {
  /* This z-index must be higher than the .modal z-index */
  z-index: 9999999 !important;
}
